# 依赖包（前端）
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 依赖包（后端）
venv/  # Python 虚拟环境
target/  # Java 编译目录
vendor/  # PHP 依赖

# 编辑器配置
.idea/  # WebStorm/IDEA
.vscode/ # VS Code
*.swp
*.swo

# 缓存/构建文件
dist/
build/
.DS_Store  # Mac 系统文件
Thumbs.db  # Windows 系统文件

# 环境变量
.env
.env.local